/* .borderImageSweet {
  border-image: url("/sweetlace.png") 55 / 12px / 0 repeat;
}
.borderImageClassic {
  border-image: url("/classiclace.png") 65 / 12px / 0 repeat;
}
.borderImageGothic {
  border-image: url("/gothiclace.png") 65 / 12px / 0 repeat;
} */
