/* .borderImageSweet {
  border-image: url("/sweetlace.png") 55 / 12px / 0 repeat;
}
.borderImageClassic {
  border-image: url("/classiclace.png") 65 / 12px / 0 repeat;
}
.borderImageGothic {
  border-image: url("/gothiclace.png") 65 / 12px / 0 repeat;
} */
/* @font-face {
  font-family: "GothicFont";
  src: url("/fonts/CloisterBlack.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SweetFont";
  src: url("/fonts/CuteFont.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "ClassicFont";
  src: url("/fonts/ElegantHandwriting.otf") format("opentype");
  font-weight: 400;
} */

/* Use the custom fonts
h1 {
  font-family: "GothicFont" !important;
} */