@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GothicFont";
    src: url("/fonts/CloisterBlack.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "SweetFont";
    src: url("/fonts/CuteFont.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "ClassicFont";
    src: url("/fonts/ElegantHandwriting.otf") format("opentype");
    font-weight: 400;
  }
}
